Body{background-color: #E9F4FF; justify-content: space-between; padding: 30px}

header{color: #0F84C6; 
    font-size: 70pt; 
    text-align: left; 
    font-family: 'Indie flower'}

#menu h1{width: auto; 
    color: #92BCD3; 
    font-size: 30pt; 
    font-family: 'indie flower'; 
    text-align: right}

#about h1 {width: auto; 
    color: #92BCD3; 
    font-size: 40pt; 
    font-family: 'indie flower'; 
    text-align: left; 
    padding-top: 75px; 
    padding-bottom: 75px}

.imgMe{width: 49.5%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: #E9F4FF;
    align-content: center;
    padding-bottom: 10px}

#about p{font-family: 'roboto'; 
    text-align: left; 
    font-size: 15pt; 
    padding-top: 75px;
    padding-bottom: 75px; 
    padding-left: 30px; 
    padding-right: 30px;
    line-height: 2}

#contact h1{font-size: 20pt; 
    font-family: 'indie flower'; 
    padding-bottom: 10px; 
    color: #0F84C6}

#contact p{font-size: 15pt; 
    font-family: 'Roboto'; 
    padding-bottom: 40px; 
    line-height: 2}


a:active{text-decoration-line: none; color: #92BCD3}
a:any-link{text-decoration-line: none; color: #92BCD3}
a:checked{text-decoration-line: none; color: #92BCD3}
a:default{text-decoration-line: none; color: #92BCD3}
a:disabled{text-decoration-line: none; color: #92BCD3}
a:hover{text-decoration-line: none; color: #0F84C6}